.beamline-log
{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 120px;
    overflow: auto;
    outline: 2px solid #1f1f59;
}

.beamline-log-main
{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 150px;
    outline: 2px solid #1f1f59;
}

.beamline-log-tab
{
    outline: 2px solid #1f1f59;
}

.beamline-task
{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 125px;
    overflow: auto;
    outline: 2px solid #4444c0;
}

div.scrollable
{
width:100%;
height: 50px;
margin: 0;
padding: 0;
overflow-y: scroll
}

.hidden
{
  display: none;
}